body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.montserrat-black{
    font-family: "Montserrat", sans-serif;
    color:#fff;
    font-size: 3.5rem;
    line-height: 1.5;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal;
}
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15%;
}
/* Navigation Bar */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-family: "Montserrat", sans-serif;
    font-weight:300;
    font-size:1.2rem ;
}

 /* Download button */
.download-button{
    margin:5% 3% 5% 0;
}

/* Styling image in title section of a dog in mobile */
.title-image{
    width:65%;
    transform: rotate(25deg);
}
/* styling features */
/* heading h3 */

#features{
    padding: 7% 15% 0 15%;
    color: #8f8f8f;
}
/* styling features container */
.features-container{
    padding: 12% 15% 0 15%;
    color: #8f8f8f;
}
/* Styling each feature  */
.feature-box{
    /* margin: 10px; */
    text-align: center;
    padding: 5%;
    padding-bottom: 100px;
}
/* Styling each icon used in features */
.icon-features{
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #ef8172;
    transition: color 0.3s;
    /* clear:right; */
}
.icon-features:hover{
    color:#ff4c68 ;
}
.h3-styling{
    font-family: "Montserrat", sans-serif;
    color:#000;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}